<div class="chat-container">
  <app-sidebar></app-sidebar>
  
  <div class="chat-layout">
    <div class="conversation-list">
      <div class="list-header">
        <h2>Conversas</h2>
        <div class="list-header-input-container">
          <lucide-angular [img]="Search" class="my-icon"></lucide-angular>
          <input 
            matInput 
            placeholder="Pesquisar..." 
            class="list-header-input-search"
            [(ngModel)]="searchTerm"
          />
        </div>
      </div>

      <div class="filter-buttons">
        <button mat-button (click)="filter = 'all'" [class.active]="filter === 'all'">
          Todas
        </button>
        <button mat-button (click)="filter = 'pending'" [class.active]="filter === 'pending'">
          Pendentes
        </button>
        <button mat-button (click)="filter = 'resolved'" [class.active]="filter === 'resolved'">
          Resolvidas
        </button>
      </div>
      
      <div class="list-container">
        <mat-nav-list>
          <mat-list-item 
            *ngFor="let conversation of filteredConversations" 
            (click)="openChat(conversation)"
            class="list-item"
          >
            <div class="list-chat-container">
              <div class="list-chat-img-container">
                <img src="assets/{{conversation.image}}" alt="Profile Picture" class="list-chat-img">
              </div>
        
              <div class="list-chat-content">
                <div class="list-chat-header">
                  <span class="chat-name">{{ conversation.name }}</span>
                  <span class="chat-time">2:38 PM</span>
                </div>
                <div class="list-chat-message">
                  
                  <div class="list-chat-message-content">
                    {{ conversation.lastMessage }}
                  </div>
              
                  <div class="list-chat-message-badge" *ngIf="conversation.unreadMessages > 0">
                    {{ conversation.unreadMessages }}
                  </div>
                
                </div>
                
              </div>
              
            </div>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
    
    
    <div class="chat-main">
      <mat-toolbar class="chat-header" color="primary">
        <div class="contact-info">
          <img src="assets/{{currentConversation.image}}" alt="Profile Picture" class="contact-avatar" />
          <div class="contact-details">
            <span class="contact-name">{{ currentConversation?.name }}</span>
            <span class="contact-status">Online</span>
          </div>
        </div>
        <span class="spacer"></span>
        <button
          mat-raised-button
          class="resolve-button"
          (click)="onResolve(currentConversation)"
          [disabled]="currentConversation?.resolved"
        >
          <lucide-angular [img]="Check" class="my-icon"></lucide-angular>
          Resolver
        </button>


      </mat-toolbar>

      <div class="messages-area">
        <div
          class="message"
          *ngFor="let msg of currentConversation?.messages"
          [ngClass]="{
            'sent': msg.type === 'sent',
            'received': msg.type === 'received'
          }"
        >
          <div class="content">{{ msg.text }}</div>
        </div>
      </div>

      <div class="input-area">
      
        <mat-form-field appearance="outline" class="chat-input">
          <mat-label>Digite sua mensagem aqui</mat-label>
          <input
            matInput
            [(ngModel)]="newMessage"
            (keyup.enter)="sendMessage()"
          />
        </mat-form-field>
      
        <button
          mat-raised-button
          color="primary"
          class="send-button"
          (click)="sendMessage()"
        >
          Enviar  <lucide-angular [img]="Send" class="my-icon"></lucide-angular>
        </button>

      </div>
    </div>
  </div>
</div>